
header{
    display: flex;
    top: 0;
    justify-content: space-around;
    background-color: rgba(67,84,85, 0.12);
    position: fixed;
}

.grey{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    margin-top: 40px;
}
.pink{
    top: 40px;
    left: 40px;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}
